- name: Ensure python3-debian is installed
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ prereq_packages }}"

- name: Add cloudsmith apt repo
  when: kea_version == (source.name | split('-') | last)
  ansible.builtin.deb822_repository:
    name: "{{ source.name }}"
    types: "{{ source.types }}"
    uris: "{{ source.uris }}"
    suites: "{{ source.suites }}"
    components: "{{ source.components }}"
    signed_by: "{{ source.signed_by }}"
  loop: "{{ _kea_apt_sources }}"
  loop_control:
    loop_var: source

- name: Update apt cache and install required packages
  ansible.builtin.apt:
    name: "{{ _kea_packages + _database_packages + kea_packages }}"
    state: present
    update_cache: true
