- name: Ensure Kea DB user exists
  vars:
    ansible_python_interpreter: /usr/bin/python3
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ _kea_db_username }}"
    password: "{{ _kea_db_password }}"
    state: present
    login_unix_socket: /var/run/postgresql

- name: Ensure Kea database exists
  vars:
    ansible_python_interpreter: /usr/bin/python3
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ _kea_db_name }}"
    owner: "{{ _kea_db_username }}"
    encoding: "UTF8"
    state: present
    login_unix_socket: /var/run/postgresql

- name: Check current kea DB version using kea-admin
  ansible.builtin.command: >
    kea-admin db-version pgsql
    -u "{{ _kea_db_username }}"
    -p "{{ _kea_db_password }}"
    -n "{{ _kea_db_name }}"
  register: kea_db_version_results
  failed_when: false
  changed_when: false

- name: Create a DB if previous step states DB is not initialized
  when: "'not initialized' in kea_db_version_results.stderr or kea_db_version_results.rc != 0"
  ansible.builtin.command: >
    kea-admin db-init pgsql
    -u "{{ _kea_db_username }}"
    -p "{{ _kea_db_password }}"
    -n "{{ _kea_db_name }}"
  register: kea_db_init_results
  failed_when: false
  changed_when: false
